	@media all{
	*{
		margin: 0;
		padding: 0;
	}
	
	header {
		padding:3px;
		width: 100%;
		height:17px;
		background-color: #2E2E2E;
		border-width:3px;
		border-style:outset;
		border-color:#A9ADC7;
	}
	
	#map{
		position: absolute;
    	left: 0px;
		top: 31px;
		width:100%;
		bottom:40px;
	}
	

	#tweet{
		background-color:#F2F2F2;
		overflow:auto;
		position: fixed;
		top: 31px;
    	right:0px;
		width:40%;
		bottom:40px;
		display:none;
	}
	

	
	#unTweetGeo:Hover{
		background-color:#F5A9A9;
		color:brown;
	}
	
	#unTweet:Hover{
		background-color:#BDBDBD;
		color:black;
	}
	
	
	
	footer{
		position: absolute;
		bottom:0px;
		height:40px;
		width: 100%;
		background-color: #2E2E2E;
	}
	
	a{
		text-decoration:none;
		color:grey;
	}
	
	a:Hover{
		color:brown;
	}
	
	.myButton {
		-moz-box-shadow: 1px 2px 0px 0px #fff6af;
		-webkit-box-shadow: 1px 2px 0px 0px #fff6af;
		box-shadow: 1px 2px 0px 0px #fff6af;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
		background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
		background-color:#ffec64;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border:1px solid #ffaa22;
		display:inline-block;
		cursor:pointer;
		color:#333333;
		font-family:arial;
		font-size:13px;
		font-weight:bold;
		padding:0px 3px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffee66;
	}
	.myButton:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
		background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
		background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
		background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
		background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
		background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
		background-color:#ffab23;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}
}	

	@media all and (max-width: 780px){
	
   *{
		margin: 0;
		padding: 0;
	}
	
	header {
		float:left
		width: 100%;
		height:25px;
		background-color: #2E2E2E;
		border-width:3px;
		border-style:outset;
		border-color:#A9ADC7;
	}
	
	#map{
		float:left;
	}

	#tweet{
		font-size:smaller;
		float:left;
		background-color:#F2F2F2;
		overflow:auto;
		position: fixed;
		width:100%;
		bottom:40px;
		top:45%;
		display:none;
	}
	

	
	#unTweetGeo:Hover{
		background-color:#F5A9A9;
		color:brown;
	}
	
	#unTweet:Hover{
		background-color:#BDBDBD;
		color:black;
	}
	
	
	
	footer{
		position: absolute;
		bottom:0px;
		height:40px;
		width: 100%;
		background-color: #2E2E2E;
	}
	
	a{
		text-decoration:none;
		color:grey;
	}
	
	a:Hover{
		color:brown;
	}
	
	.myButton {
		-moz-box-shadow: 1px 2px 0px 0px #fff6af;
		-webkit-box-shadow: 1px 2px 0px 0px #fff6af;
		box-shadow: 1px 2px 0px 0px #fff6af;
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
		background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
		background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
		background-color:#ffec64;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		border:1px solid #ffaa22;
		display:inline-block;
		cursor:pointer;
		color:#333333;
		font-family:arial;
		font-size:13px;
		font-weight:bold;
		padding:0px 3px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffee66;
	}
	.myButton:hover {
		background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
		background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
		background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
		background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
		background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
		background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
		background-color:#ffab23;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}
}

 


	
