	@media all{
	*{
		margin: 0;
		padding: 0;
	}
	
	header {
		width: 100%;
		height:25px;
		background-color: #2E2E2E;
		border-width:3px;
		border-style:outset;
		border-color:#A9ADC7;
	}
	
	#map{
		position: absolute;
    	left: 0px;
		top: 31px;
		width:100%;
		bottom:40px;
	}
	

	#tweet{
		background-color:#F2F2F2;
		overflow:auto;
		position: fixed;
		top: 31px;
    	right:0px;
		width:40%;
		bottom:40px;
		display:none;
	}
	

	
	#unTweetGeo:Hover{
		background-color:#F5A9A9;
		color:brown;
	}
	
	#unTweet:Hover{
		background-color:#BDBDBD;
		color:black;
	}
	
	
	
	footer{
		position: absolute;
		bottom:0px;
		height:40px;
		width: 100%;
		background-color: #2E2E2E;
	}
	
	a{
		text-decoration:none;
		color:grey;
	}
	
	a:Hover{
		color:brown;
	}
}	

	@media all and (max-width: 780px){
	
   *{
		margin: 0;
		padding: 0;
	}
	
	header {
		float:left
		width: 100%;
		height:25px;
		background-color: #2E2E2E;
		border-width:3px;
		border-style:outset;
		border-color:#A9ADC7;
	}
	
	#map{
		float:left;
	}

	#tweet{
		font-size:smaller;
		float:left;
		background-color:#F2F2F2;
		overflow:auto;
		position: fixed;
		width:100%;
		bottom:40px;
		top:45%;
		display:none;
	}
	

	
	#unTweetGeo:Hover{
		background-color:#F5A9A9;
		color:brown;
	}
	
	#unTweet:Hover{
		background-color:#BDBDBD;
		color:black;
	}
	
	
	
	footer{
		position: absolute;
		bottom:0px;
		height:40px;
		width: 100%;
		background-color: #2E2E2E;
	}
	
	a{
		text-decoration:none;
		color:grey;
	}
	
	a:Hover{
		color:brown;
	}

}

 


	
