
	*{
		margin: 0;
		padding: 0;
	}
	
	header {
		width: 100%;
		height:25px;
		background-color: #A9ADC7;
		border-width:3px;
		border-style:outset;
		border-color:#A9ADC7;
	}
	
	#map{
		position: absolute;
    	left: 0px;
		top: 31px;
		width:100%;
		bottom:40px;
	}
	
	#tweet{
		background-color:black;
		overflow:auto;
		position: fixed;
		top: 31px;
    	right:0px;
		width:40%;
		bottom:40px;
		display:none;
	}
	
	#tweetsRetrouves{
		position:fixed;
		width:40%;
		color:white;
		height:50px;
		text-align:center;
	}
	#unTweet{
		color:white;
	}
	
	#unTweet:Hover{
		background-color:white;
		color:black;
	}
	
	hr:Hover{
		background-color:white;
		color:black;
	}
	
	hr {
		text-align:center;
		width:50%;
	}	
	
	
	footer{
		position: absolute;
		bottom:0px;
		height:40px;
		width: 100%;
		background-color: #A9ADC7;
	}
	
	
